[submodule "addons/ofxCv"]
	path = addons/ofxCv
	url = https://github.com/kylemcdonald/ofxCv.git
[submodule "addons/ofxEtherdream"]
	path = addons/ofxEtherdream
	url = git@github.com:sebleedelisle/ofxEtherdream.git
[submodule "addons/ofxIlda"]
	path = addons/ofxIlda
	url = git@github.com:sebleedelisle/ofxIlda.git
[submodule "addons/ofxLibdc"]
	path = addons/ofxLibdc
	url = https://github.com/kylemcdonald/ofxLibdc.git
