# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/Music/

/LaserShow/DerivedData/

/LaserShow/bin/LaserShowDebug.app/Contents/MacOS/LaserShowDebug
