<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/sebretina/Dropbox/openFrameworks/apps/LaserShow</string>
		<string>/Users/sebretina/Dropbox/openFrameworks</string>
		<string>/Users/sebretina/Dropbox/openFrameworks/apps/LaserShow/of-Audio-Oct</string>
		<string>/Users/sebretina/Dropbox/openFrameworks/apps/LaserShow/LaserShow</string>
		<string>/Users/sebretina/Dropbox/openFrameworks/apps/LaserShow/addons/ofxLibdc</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2014-03-12T14:32:40Z</date>
	<key>MissingFilePaths</key>
	<array/>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
